.Spinners {
    border: 4px solid rgba(101, 100, 100, 0.1); /* Kolor obramowania */
    border-top: 4px solid #edeaea; /* Kolor kręciołka */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animacja obrotu */
    margin: auto;
    margin-top: 20px;
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}
