.Navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 0;
    background-color: #242424;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .Navbar__logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
        text-decoration: none;
    }
    .Navbar__menu {
        display: flex;
        align-items: center;
        .Navbar__menu-item {
        margin-left: 20px;
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: #f1356d;
        }
        }
    }
    .Navbar__cart {
        position: relative;
        .Navbar__cart-icon {
        font-size: 1.5rem;
        color: #333;
        cursor: pointer;
        &:hover {
            color: #f1356d;
        }
        }
        .Navbar__cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #f1356d;
        color: #fff;
        padding: 5px 10px;
        border-radius: 50%;
        font-size: 0.8rem;
        }
    }
    .Navbar__hamburger {
        display: none;
        font-size: 1.5rem;
        color: #333;
        cursor: pointer;
        &:hover {
        color: #f1356d;
        }
    }
    @media (max-width: 768px) {
        .Navbar__menu {
        display: none;
        }
        .Navbar__hamburger {
        display: block;
        }
    }
}
